.App {
  text-align: center;
  font-family: Georgia, "Bella", Times, serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #ff6f47;
  background: #4de009;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff6f47;
  color: rgb(140, 226, 27);
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
.todo-button {
  width: 50px;
  height: 53px;

  position: relative;
  z-index: 2;
  background: #808991;
  color: #fff;
  text-align: center;
  max-width: 500px;
  font-size: 20px;
  border: 4px ridge black;
  cursor: pointer;
  transition: 0.3s linear;
}
.wrapper {
  background-image: url("https://thumbs.gfycat.com/DisgustingFluffyCony-size_restricted.gif"); /* Путь к фоновому изображению */
  background-color: #c7b39b; /* Цвет фона */
}
.title {
  /* text-align: center; */
  margin-left: auto;
  align-items: baseline;
  align-content: flex-start;
  align-self: flex-start;
  background: aqua;
  /* flex: 1; */
  /* -webkit-line-clamp: 0; */
}
.images {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.image3 {
  flex: 1;
  justify-content: flex-end;
  align-self: flex-end;
  background: aquamarine;
}
.images2 {
  flex-direction: column-reverse;
  width: 400px;
  display: flex;
  
}
